.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('img/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('img/horizontal.png');
    border-top: 1px solid grey;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}
