.relations-container{
    padding: 30px;
    flex-direction: column;
    display: flex;
    width:50%;
    gap: 20px;
}

.relation-container{
    display: flex;
    justify-content:space-between;
    gap: 20px;
}

.relation-image{
    width:20px;
}